<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/blog.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Bloggy - Read Blog</title>
</head>

<body>
    <nav class="navbar p-4 flex justify-between items-center">
        <div class="text-white text-2xl font-bold">Bloggy</div>
        <a href="/login"><button class="text-white px-4 py-2 rounded">Login / Signup</button></a>
        <!-- <button class="text-white px-4 py-2 rounded logout">Logout</button> -->
    </nav>

    <div class="blog-card">
        <h1 class="blog-title">Sample Blog Title</h1>
        <p class="blog-author">John Doe</p>
        <p class="blog-body">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac urna vel ex hendrerit cursus.
            Nullam auctor lectus at justo fringilla, id scelerisque felis mattis. Nullam eget consectetur leo.
        </p>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Bloggy. All rights reserved.</p>
    </footer>

</body>

</html>
