<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/blog.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Bloggy - Read Blog</title>
</head>

<body>
    <nav class="navbar p-4 flex justify-between items-center">
        <a href="/">
            <div class="text-white text-2xl font-bold">Bloggy</div>
        </a>
        {% if "userName" in session %}
        <div class="flex items-center"> <!-- Added a div container for flex items -->
            <div class="relative">
                <button onclick="toggleDropdown()"
                    class="text-white px-4 py-2 rounded-full bg-gray-800 hover:bg-gray-700">
                    {{session["userName"][0]}}
                </button>
                <div id="dropdownMenu" class="hidden absolute right-0 mt-2 w-40 bg-white border rounded shadow-md z-10">
                    <a href="/logout" class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">Logout</a>
                    <a href="/my-blog" class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">My Blogs</a>
                    <a href="/write" class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">Create Blog</a>
                </div>
            </div>
        </div>
        {% else %}
        <a href="/login"><button class="text-white px-4 py-2 rounded">Login / Signup</button></a>
        {% endif %}
    </nav>

    <script>
        function toggleDropdown() {
            var dropdownMenu = document.getElementById("dropdownMenu");
            dropdownMenu.classList.toggle("hidden");
        }

        // Close dropdown on click outside
        document.addEventListener("click", function (event) {
            var dropdownMenu = document.getElementById("dropdownMenu");
            if (event.target.closest(".relative") === null) {
                dropdownMenu.classList.add("hidden");
            }
        });
    </script>

    <div class="blog-card-one-blog-showing">
        <h1 class="blog-title">{{title}}</h1>
        <p class="blog-author">Author - <a class="underline" href="/user/{{author}}">{{author}}</a></p>
        <p class="blog-body" id="content" data-value="{{content}}"></p>
        <script>
            document.addEventListener("DOMContentLoaded", function () {
                document.getElementById("content").innerHTML = document.getElementById("content").getAttribute('data-value');
            });
        </script>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Bloggy. All rights reserved.</p>
    </footer>

</body>

</html>
