<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/blog.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Bloggy - Error!</title>
</head>

<body>
    <nav class="navbar p-4 flex justify-between items-center">
        <a href="/"><div class="text-white text-2xl font-bold">Bloggy</div></a>
    </nav>

    <div class="blog-card">
        <h1 class="blog-title">Something went wrong! Please try again.</h1>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Bloggy. All rights reserved.</p>
    </footer>

</body>

</html>
