<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/blog.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <title>Bloggy - Error!</title>
</head>

<body>
    <nav class="navbar p-4 flex justify-between items-center">
        <a href="/"><div class="text-white text-2xl font-bold">Bloggy</div></a>
    </nav>

    <div class="flex-grow flex items-center justify-center">
        <div class="blog-card bg-white shadow-md p-8 rounded-md">
            <h1 class="blog-title text-3xl font-bold text-red-500 mb-4">Oops! Something went wrong.</h1>
            <p class="text-gray-600">It seems like there's an issue. Please try again later.</p>
            <img src="/static/error_image.png" alt="Error Image" class="mx-auto mt-4" width="80px" height="80px">
        </div>
    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Bloggy. All rights reserved.</p>
    </footer>

</body>

</html>
