<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/blog.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Bloggy - Your Blogging Platform</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar p-4 flex justify-between items-center">
        <a href="/">
            <div class="text-white text-2xl font-bold">Bloggy</div>
        </a>
        {% if "userName" in session %}
        <div class="flex items-center"> <!-- Added a div container for flex items -->
            <div class="relative">
                <button onclick="toggleDropdown()"
                    class="text-white px-4 py-2 rounded-full bg-gray-800 hover:bg-gray-700">
                    {{session["userName"][0]}}
                </button>
                <div id="dropdownMenu" class="hidden absolute right-0 mt-2 w-40 bg-white border rounded shadow-md z-10">
                    <a href="/logout" class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">Logout</a>
                    <a href="/my-blog" class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">My Blogs</a>
                    <a href="/write" class="block px-4 py-2 text-sm text-gray-800 hover:bg-gray-100">Create Blog</a>
                </div>
            </div>
        </div>
        {% else %}
        <a href="/login"><button class="text-white px-4 py-2 rounded">Login / Signup</button></a>
        {% endif %}
    </nav>

    <script>
        function toggleDropdown() {
            var dropdownMenu = document.getElementById("dropdownMenu");
            dropdownMenu.classList.toggle("hidden");
        }

        // Close dropdown on click outside
        document.addEventListener("click", function (event) {
            var dropdownMenu = document.getElementById("dropdownMenu");
            if (event.target.closest(".relative") === null) {
                dropdownMenu.classList.add("hidden");
            }
        });
    </script>

    <!-- Body -->
    <div class="container mx-auto mt-8 flex">
        <!-- Left Column for Blogs -->
        <div class="w-3/4 p-4">
            {% if called_function=="myblog" %}
            <h1 class="blog-title">My Blogs</h1>
            {% elif called_function=="userblog" %}
            {% if "userName" in session %}
            {% if session["userName"] == data[0]['userName'] %}
            <h1 class="blog-title">My Blogs</h1>
            {% else %}
            <h1 class="blog-title">{{data[0]['userName']}}'s Blogs</h1>
            {% endif %}
            {% else %}
            <h1 class="blog-title">{{data[0]['userName']}}'s Blogs</h1>
            {% endif %}
            {% endif %}
            <div id="length" data-value="{{ length }}"></div>
            <!-- Blog Render Section -->
            {% for i in range(length) %}
            <a href="/blog/{{data[i]['blogId']}}">
                <div class="blog-card mb-4 p-6">
                    <h2 class="text-3xl font-bold mb-2">{{ data[i]['title'] }}</h2>
                    <p class="text-gray-600 mb-2">by {{ data[i]['userName'] }}</p>
                    <p class="text-gray-600 mb-2" id="{{i}}" data-value="{{data[i]['body']}}"></p>
                </div>
            </a>
            <script>
                document.addEventListener("DOMContentLoaded", function () {
                    var lengthElement = document.getElementById('length');
                    var lengthValue = lengthElement.getAttribute('data-value');
                    for (var i = 0; i < lengthValue; i++) {
                        document.getElementById(i).innerHTML = document.getElementById(i).getAttribute('data-value');
                    }
                });
            </script>
            {% endfor %}

            <!-- Pagination (if applicable) -->
            <!-- <div class="flex justify-between mt-8 mb-4">
                <button class="pagination-button text-white px-4 py-2 rounded-full mr-2">Previous Page</button>
                <button class="pagination-button text-white px-4 py-2 rounded-full">Next Page</button>
            </div> -->
        </div>

        <!-- Right Column for Advertising (Sticky) -->
        <div class="w-1/4 p-4 sticky top-0">
            <div class="promotion-card p-4 rounded mb-4">
                <h3 class="text-lg font-semibold mb-4">Developers</h3>
                <p class="text-gray-700">
                    <a href="https://linkedin.com/in/debmalya-sur/" target="_blank" class="underline">
                        Debmalya Sur
                    </a>
                </p>
                <p class="text-gray-700">
                    <a href="https://www.linkedin.com/in/arshia-chaudhuri/" target="_blank" class="underline">
                        Arshia Chaudhuri
                    </a>
                </p>
                {% if "userName" in session %}
                <div class="mb-2 mt-4">
                    <a href="/write"><button class="text-white px-4 py-2 rounded">Write A Blog</button></a>
                </div>
                {% endif %}
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Bloggy. All rights reserved.</p>
    </footer>

</body>

</html>