<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/static/blog.ico" type="image/x-icon">
    <link rel="stylesheet" href="/static/home.css">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <title>Bloggy - Your Blogging Platform</title>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar p-4 flex justify-between items-center">
        <div class="text-white text-2xl font-bold">Bloggy</div>
        {% if flag==1 %}
        <a href="/login"><button class="text-white px-4 py-2 rounded">Login / Signup</button></a>
        {% else %}
        <a href="/logout"><button class="text-white px-4 py-2 rounded logout">Logout</button></a>
        {% endif %}
    </nav>

    <!-- Body -->
    <div class="container mx-auto mt-8 flex">
        <!-- Left Column for Blogs -->
        <div class="w-3/4 p-4">
            <!-- Blog Render Section -->
            {% for i in range(length) %}
            <div class="blog-card mb-4 p-6">
                <h2 class="text-3xl font-bold mb-2">{{ data[i]['title'] }}</h2>
                <p class="text-gray-600 mb-2">by {{ data[i]['userName'] }}</p>
                <p class="text-gray-600 mb-2">{{data[i]['body']}}</p>
            </div>
            {% endfor %}

            <!-- Pagination (if applicable) -->
            <!-- <div class="flex justify-between mt-8 mb-4">
                <button class="pagination-button text-white px-4 py-2 rounded-full mr-2">Previous Page</button>
                <button class="pagination-button text-white px-4 py-2 rounded-full">Next Page</button>
            </div> -->
        </div>

        <!-- Right Column for Advertising (Sticky) -->
        <div class="w-1/4 p-4 sticky top-0">
            <div class="promotion-card p-4 rounded">
                <h3 class="text-lg font-semibold mb-2">Ad</h3>
                <p class="text-gray-700">Check out our amazing products!</p>
                <!-- Add your advertising content here -->
            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <p>&copy; 2024 Bloggy. All rights reserved.</p>
    </footer>

</body>

</html>
